.globalCont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contAll {
    max-width: 1200px;
    width: 100%;
}
.contMaps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cotMap {

    margin: 10px ;
    height: 400px;  
    width: calc(50% -20px);  
    min-width: 368px;
}
#map {
    height: 100%;
}
.mapsTextOpen {
    margin: 0;
    font-size: 20px;
    padding: 0;
}
.mapsText {
    margin: 10px;
    font-size: 16px;
    padding: 0;
    width: calc(50% -20px);  
    padding: 15px;
    
    min-width: 280px;

    /* background-color: aqua; */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.486);
}
.mapsText h2 {
    margin-bottom: 12px;
}

.contactsCont {

}
.contactsCont a {
    margin: 10px 0;
}
.contactsCont a  img{
    width: 30px;
    margin: 8px 0;
}
@media only screen and (max-width: 799px) { 
.mapsText {
    order: -1;
   text-align: center;
    width: 100%;
}
.cotMap {
min-width: 0;
width: 100%;
}
}
