body {
    overflow-x: hidden;
}
.contForStudyGlob {
display: flex;
justify-content: center;
margin-top: 37px;
text-align: center;
}
.contForStudyCont {

    max-width: 1400px;
    padding: 0 15px;
}

.contListImg {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid #2e2e43; */
    /* flex-direction: column;
    position: relative; */

}
.contSoon {
    margin: 35px 0;
}
.contSoon h2 {
    margin: 10px 0 30px 0;
}
.contImgSoon {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    /* background-color: rgb(49, 90, 126); */
}
.contImgSoon img {
    margin-bottom: 15px;
    width: 100px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
}
.contImgSoon img:hover {
    box-shadow: 0px 0px 3px black;
}
.contCertif img {
    width: 100%;
    max-width: 1000px;
}

.contDifferent {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.contChoice {
    width: 50%;
}
.contChoice.active h4 {
background-color: #0be27a;
}

.contChoice h4 { 
    background-color: #171932;
    color: white;
    padding: 10px 0;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;
    transition: all .4s;
    
}

.contChoice h4::after{
    transition: all .4s;
    border: 12px solid transparent;
    position: absolute;
    bottom: -24px;
}
.contChoice.active h4::after{
    border-top-color:#0be27a ;
    content: ' ';
}
.contentCurs {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin-bottom: 20px;
    /* background-color: aquamarine; */
    display: none;
}

.contentCurs.active {
    display: flex;
}
.planCur {
    margin: 30px 0 10px 0;
}
.contentCurs p {
    text-align: center;
}
.contPlan {
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.contentCurs img {
    width: 100%;
    max-width: 560px;
}
.lineH {
    height: 130px;
    background-color: #1719327a;
    width: 1px;
    
}
.currentPlan {
    /* box-shadow: 0px 0px 6px black; */
    padding: 10px;
    flex: 0 30%;
    min-width: 220px;

    
}